.admin-productList {
    margin: 0;
}

.admin-svgBtn {
    font-size: 20px;
    cursor: pointer;
}

.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textRight.MuiDataGrid-withBorderColor a {
    margin-right: 20px !important;
}

.admin-path {
    padding: 10px 5px;
}

.admin-path a {
    text-decoration: none;
    font-weight: bold;
    padding: 0px 5px;
    color: #38363685;
}

.imgField img {
    border-radius: 100%;
    background-color: blue !important;
}