.footer-container {
    background-color: #fdf8f8;
    border-top: 1px solid rgba(106, 185, 86, 0.226);
    padding: 20px;
}

.copyRight p {
    background-color: #F85606;
    color: white;
    text-align: center;
    padding: 5px 0px;
    margin-top: 20px;
}

.contact-us {
    display: flex;
    flex-direction: column;
}

.footer-container h3 {
    color: #000000c7;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.contact-us p {
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.contact-us p span {
    font-weight: 500;
    color: rgb(173, 5, 5);
}

.follow-us a {
    color: black;
    text-decoration: none;
}

.follow-us a i {
    font-size: 30px;
    padding: 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.follow-us a i:hover {
    color: rgb(61, 118, 223);
}

@media only screen and (max-width: 768px) {
    .contactUs2 {
        margin-top: 20px;
    }

    .follow-us.followUs {
        margin: 40px;
    }
}