.login-inputField form a {
  text-decoration: none;
}

.loginComp {
  min-height: 70vh;
}

.login-container {
  width: 100%;
  background-color: #ffff;
  width: 80%;
  border-radius: 5px;
  margin: 40px 0px;
  padding: 40px 0px;
  box-shadow: 5px 5px 10px rgba(139, 69, 19, 0.158);
}

.login-title p {
  font-size: 20px;
  margin-top: -10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.login-inputField {
  margin-top: 20px;
  padding: 0px 40px;
}

.after-margin {
  height: 1px;
  background-color: rgba(36, 34, 34, 0.541);
}

.login-inputField input {
  border: 1px solid saddlebrown;
  border-radius: 5px;
  padding: 8px 40px;
  margin: 10px 0px;
  outline: none;
  width: 100%;
  
}

.login-btn {
  background-color: #e05240;
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  border: none;
  width: 60%;
  border-radius: 2px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #4b1a13c7;
}

.register-link a {
  text-decoration: none;
}

.user-error-message {
  font-size: 12px;
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .login-container {
    width: 100%;
  }
}