/* height full blobal class  */

.h-full {
    height: 100%;
}

.bg-color {
    background-color: #F5F5F5;
}

.globalSpeedDial {
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99999999999;
}